<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Delivery App
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <swiper [config]="config" #swiper>
      <ng-template *ngFor="let slide of slider?.images" swiperSlide>
        <img [src]="slide"/>
      </ng-template>
    </swiper>

  <ion-grid>

    <ion-row style="margin-top: 15px;">
      <ion-col>
        <p style="padding-left: 15px; font-size: 12px; font-weight: bold;">Categories</p>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    
    <ion-row  style="margin-top: -13px;" class=" justify-content-center align-items-center">
      <ion-col  *ngFor="let category of categories" size="4" class="" style=" color: white; ">
        <div  (click)="showCategory(category)" class="container" style="padding: 5px; ">
          <img [src]="category.image" alt="Snow" style="border-radius: 7px; width:100%;">
          <div style="font-weight: bold;" class="centered">{{category.name.en}}</div>
        </div>
      </ion-col>
    </ion-row>
    
    </ion-grid>
</ion-content>    
<ion-footer>
  <app-footer-bar></app-footer-bar>
</ion-footer>


